# datetime

In [1]:
import datetime

In [2]:
dt = datetime.datetime.now()
dt

datetime.datetime(2018, 12, 14, 23, 14, 34, 898243)

In [3]:
dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second, dt.microsecond

(2018, 12, 14, 23, 14, 34, 898243)

In [4]:
dt.weekday()  # {0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일}

4

* %Y	앞의 빈자리를 0으로 채우는 4자리 연도 숫자
* %m	앞의 빈자리를 0으로 채우는 2자리 월 숫자
* %d	앞의 빈자리를 0으로 채우는 2자리 일 숫자
* %H	앞의 빈자리를 0으로 채우는 24시간 형식 2자리 시간 숫자
* %M	앞의 빈자리를 0으로 채우는 2자리 분 숫자
* %S	앞의 빈자리를 0으로 채우는 2자리 초 숫자
* %A	영어로 된 요일 문자열
* %B	영어로 된 월 문자열

In [5]:
dt.strftime("%A %d. %B %Y")

'Friday 14. December 2018'

In [6]:
print(dt.strftime("%H %M %S"))

23 14 34

In [7]:
datetime.datetime.strptime("2017-01-02 14:44", "%Y-%m-%d %H:%M")

datetime.datetime(2017, 1, 2, 14, 44)

# dateutil

In [8]:
from dateutil.parser import parse

In [9]:
parse('2016-04-16')

datetime.datetime(2016, 4, 16, 0, 0)

In [10]:
parse("Apr 16, 2016 04:05:32 PM")

datetime.datetime(2016, 4, 16, 16, 5, 32)

In [11]:
parse('6/7/2016')

datetime.datetime(2016, 6, 7, 0, 0)

In [12]:
dt1 = datetime.datetime(2016, 2, 19, 14)
dt2 = datetime.datetime(2016, 1, 2, 13)
td = dt1 - dt2
td

datetime.timedelta(days=48, seconds=3600)

In [13]:
td.days, td.seconds, td.microseconds

(48, 3600, 0)

In [14]:
td.total_seconds()

4150800.0

In [15]:
t0 = datetime.datetime(2018, 9, 1, 13)
d = datetime.timedelta(days=90, seconds=3600)

In [16]:
t0 + d

datetime.datetime(2018, 11, 30, 14, 0)