In [1]:
import numpy as np
import pandas as pd

* loc : 라벨값 기반의 2차원 인덱싱
* iloc : 순서를 나타내는 정수 기반의 2차원 인덱싱
* at : 라벨값 기반의 2차원 인덱싱(한개의 스칼라 값만 찾음)
* iat : 순서를 나타내는 정수 기반의 2차원 인덱싱(한개의 스칼라 값만 찾음)

## loc 인덱서

In [2]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                 index=["a", "b", "c"],
                 columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [3]:
df.loc["a", "A"]

10

In [4]:
df.loc["b":, "A"]

b    14
c    18
Name: A, dtype: int32

In [5]:
df.loc["a", :]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [6]:
df.loc[["a", "b"], ["B", "D"]]

    B   D
a  11  13
b  15  17

In [7]:
df.loc[df.A > 10, :]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [8]:
df.loc["a", :]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [9]:
df[:1]

    A   B   C   D
a  10  11  12  13

In [10]:
def select_rows(df):
    return df.A > 12

In [11]:
select_rows(df)

a    False
b     True
c     True
Name: A, dtype: bool

In [12]:
df.loc[select_rows(df), ["B"]]

    B
b  15
c  19

In [13]:
# df.loc[:, df[:1] <= 11] # 데이터프레임은 loc 인덱서에 넣을 수 없으므로 에러!
df.loc[:, df.loc["a", :] <= 11]

    A   B
a  10  11
b  14  15
c  18  19

In [14]:
df.loc["a"]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [15]:
df.loc["e"] = [90, 91, 92, 93]
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21
e  90  91  92  93

In [16]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=np.arange(1, 8, 2))
df2

    1   3   5   7
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [17]:
df2.loc[1,1]

14

In [18]:
df2.loc[1:2, :]

    1   3   5   7
1  14  15  16  17
2  18  19  20  21

## iloc 인덱서

In [19]:
df.iloc[0, 1]

11

In [20]:
df.iloc[:2, 2]

a    12
b    16
Name: C, dtype: int64

In [21]:
df.iloc[0, -2:]

C    12
D    13
Name: a, dtype: int64

In [22]:
df.iloc[2:3, 1:3]

    B   C
c  19  20

In [23]:
df.iloc[-1]

A    90
B    91
C    92
D    93
Name: e, dtype: int64

In [24]:
df.iloc[-1] = df.iloc[-1] * 2
df

     A    B    C    D
a   10   11   12   13
b   14   15   16   17
c   18   19   20   21
e  180  182  184  186

## at, iat 인덱서

In [25]:
%timeit df.loc["a", "A"]

5.91 µs ± 523 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [26]:
%timeit df.at["a", "A"]

3.96 µs ± 404 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [27]:
%timeit df.iloc[0, 0]

8.14 µs ± 787 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [28]:
%timeit df.iat[0, 0]

4.85 µs ± 412 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)